<div class="row">
    <div class="column column-65">
        <div id="elm-timelog"></div>
    </div>
    <div class="column column-35">
        <div id="elm-sensor"></div>
        <div id="elm-clock"></div>
    </div>
</div>
