.sensor {

    h4,
    .values {
        width: inherit;
    }

    .values {
        text-align: center;
    }

    .row {
        margin-bottom: 1rem;
    }
}

#humidity,
#temperature {
    font-weight: bold;
}

#read-at {
    font-size: inherit;
}