.display {
    min-height: 5rem;

    .pin-code {
        height: 100%;
        width: 100%;
        text-align: center;
        background-color: whitesmoke;
    }
}

.pin {
    margin: 1rem 0;
    min-height: 7rem;

    button {
        height: 100%;
        width: 100%;
        font-size: 2.2rem;
    }
}