// toasty
@import "toasty";

// Timelog app
@import "timelog";

// Sensor app
@import "sensor";

// Clock app
@import "clock";

// Common

html, body {
    background: black;
    color: whitesmoke;
}

.container {
    // HACK: Fix toasty message overlay
    position: initial;
}

.timelog h2, .sensor h2, .sensor h5, .sensor span {
    text-align: center;
}

.toasty-title, .toasy-message {
    color: whitesmoke;
}

.toasty-title {
    font-weight: 600;
}

.toasty-message {
    font-weight: 400;
}